<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-slides paginationClickable=true initialSlide=0 loop=true autoplay=1000 speed=2000 #mySlider>

      <ion-slide style="max-height:200px; min-height:200px">
        <img src="{{produto.fotos[0] }}">
      </ion-slide>
      <ion-slide style="max-height:200px">
        <img src="{{produto.fotos[1] }}">
      </ion-slide>
      <ion-slide style="max-height:200px">
        <img src="{{produto.fotos[2] }}">
      </ion-slide>
    </ion-slides>

    <div class="swiper-button-next" (click)="slideNext()"></div>
    <div class="swiper-button-prev" (click)="slidePrev()"></div>
    <ion-button expand="block" (click)="getPhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-button>
  </ion-card>


  <form (ngSubmit)="onSubmit()" #fc="ngForm">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" class="form-control" [(ngModel)]="produto.nome" name="nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input type="text" class="form-control" [(ngModel)]="produto.descricao" name="descricao" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input type="number" class="form-control" [(ngModel)]="produto.quant" name="quant" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input type="number" class="form-control" [(ngModel)]="produto.valor" name="valor" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ativo</ion-label>
      <ion-toggle name="ativo" [(ngModel)]="produto.ativo"></ion-toggle>
    </ion-item>

    <ion-button type="submit" [disabled]="fc.invalid">Salvar</ion-button>
    <ion-button type="reset" [routerLink]="['/']">Cancelar</ion-button>
  </form>


</ion-content>