<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let produto of produtos | async ">
          <ion-card (click)="edit(produto, produto.key)">
            <ion-img src="{{ produto.fotos[0] }}"></ion-img>
            <ion-card-header>
              <ion-card-title><b>{{produto.nome}}</b></ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-card-title>R${{produto.valor}}</ion-card-title>
              <p>{{ produto.descricao }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>