<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let c of produto | async">
          <ion-card [routerLink]="[ '/perfil', c.key ]">
            <ion-img src="{{ c.foto }}"></ion-img>
            <ion-card-header>
              <ion-card-title><b>{{c.nome}}</b></ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-card-title>R${{c.valor}}</ion-card-title>
              <p>{{ c.descricao }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>